<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>

    <body>

        <div class="container pb-5">
            <% include ../partials/toppage %>
                <h1 class="text-center text-light bg-dark">Nhóm: NodeJS So Hard</h1>
                <div class="row d-flex justify-content-center mt-4">
                    <ul class="list-group">
                        <li href="#" class=" m-3 list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-center">
                            <span class="mb-1 tex">Hồ Nhật Tân</span>
                          </div>
                        </li>
                        <li href="#" class=" m-3 list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-center">
                              <span class="mb-1 tex">Trần Tấn Cẩn</span>
                            </div>
                          </li>
                          <li href="#" class=" m-3 list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-center">
                              <span class="mb-1 tex">Lê Thị Mỹ Sen</span>
                            </div>
                          </li>
                          <li href="#" class=" m-3 list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-center">
                              <span class="mb-1 tex">Trần Thị Ly Na</span>
                            </div>
                          </li>
                          <li href="#" class=" m-3 list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-center">
                              <span class="mb-1 tex">Hồ Đức An</span>
                            </div>
                          </li>
                      </ul>
                </div>


        </div>

        <% include ../partials/footer%>
    </body>
    <style>
        body {
            background-image: url('/images/team.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</html>